language: python
python:
    - "3.3"
    - "3.4"
    - "3.5"
    - "3.6"
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
before_script:
    - (cd test/commonmark && ./spec.sh)
script:
    - make test
    - python3 -m test.commonmark
after_success:
    - pip install coveralls
    - coverage run -a -m unittest
    - coverage run -a -m test.commonmark
    - coveralls
