# see https://setuptools.pypa.io/en/latest/userguide/miscellaneous.html#controlling-files-in-the-distribution

include LICENSE
include .flake8
include uv.lock

graft test
recursive-include ** makefile

global-exclude *~ *.py[cod] *.so __pycache__
